<ion-view  view-title="Tables">
  
  <ion-content class="padding" scroll="false">
    <div class="list card">
      <div class="item item-divider">Tables</div>
      <div class="item item-body">
        
          <button  ng-repeat="(id, table) in tablesCtrl.tables "
                    class=" table button"
                    ng-class="{' button-outline button-positive': table.tableInfo.status == 1,
                                'button-positive': table.tableInfo.status == 2}"
                    ng-click="tablesCtrl.toTable(id)"
          >
            Table {{table.tableInfo.tableID}} {{table.tableInfo.status}}
          </button>      
        
      </div>
    </div>
    
  </ion-content>
</ion-view>
