
<ion-view >
  <ion-content>
    <h1>Side Menu
    </h1>
  </ion-content >
  <div class="ctrl-button" ng-show="sideMenuCtrl.tableId !== undefined">
    

    <button  ng-click="sideMenuCtrl.back()" href="#/tab/tables/{{sideMenuCtrl.tableId}}" class=" ctrl-Button button button-full button-positive">
      Back
    </button>
    <button ng-hide="sideMenuCtrl.showOH" ng-click="sideMenuCtrl.confirm()" class=" ctrl-Button button button-full button-positive">
      Confirm
    </button>
    <button ng-hide="sideMenuCtrl.showOH" ng-click="sideMenuCtrl.showOH2()" class=" ctrl-Button button button-full button-positive">
      Check Order
    </button>

    <button  class=" ctrl-Button button button-full button-positive">
     CheckOut
    </button>
  </div>
</ion-view>