
<ion-view class="tabs-item-hide" title="Order">
	
	<ion-content class="padding">
                      <!-- ot: order times -->
    <ion-list ng-repeat="(id, ot) in ohc.order[ohc.tid].order.orderHistory ">
            <ion-item>
                <div  class="row" >
                    <div class="col col-25" >
                        <div  class=" ">

                           Date: {{ot.date.month}}/{{ot.date.date}}
                           {{ot.date.hours}}:{{ot.date.minutes}}
                        </div>
                    </div> 
                    <div class="col col-25" >
                        <div class=" ">
                           SubTotal:{{ot.subTotal | currency}}
                        </div>
                    </div> 
                    
                </div>
              <div class="row" >
              <div class="col col-50" >
                      <div class=" ">
                         Items: 
                      </div>
                  </div> 
                  <div class="col" >
                      <div class=" ">
                          Quantity:
                      </div>
                  </div> 
                  <div class="col" >
                      <div class=" ">
                          Price:
                         
                      </div>
                  </div>
              </div>
            </ion-item>

            <ion-item  ng-repeat="(id, order) in ot.order">
                <div class="row" >
                <div class="col col-50" >
                        <div class=" ">
                           {{order.name}} 
                        </div>
                    </div> 
                    <div class="col" >
                        <div class=" ">
                            {{order.quantity}}
                        </div>
                    </div> 
                    <div class="col" >
                        <div class=" ">
                            {{order.price}}
                        </div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        
  </ion-content>

  <button class="button button-positive bt-up" ng-click="ohc.up()">Up</button>
  <button class="button button-positive bt-down" ng-click="ohc.down()">Down</button>

</ion-view>

